<html>
  <head>
    <!--Load the AJAX API-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart','line','scatter']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawDiskUsageChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Usage');
        data.addColumn('number', 'Percentation of usage');
        data.addRows([
          ['Used {{memory_usage.used}} Mb', {{memory_usage.used}}],
          ['Available {{memory_usage.available}} Mb', {{memory_usage.available}}]
        ]);

        // Set chart options
        var options = {'title':'Memory Utilization - Total Memory {{memory_usage.total}} Mb',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('memory_usage_chart_div'));
        chart.draw(data, options);
      }

       // Callback that draws the pie chart for Disk Usage chart.
       function drawDiskUsageChart() {

            // Create the data table for Disk Usage chart.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Usage');
            data.addColumn('number', 'Percentation of usage');
            data.addRows([
            ['Used {{disk_usage.used}} Gb', {{disk_usage.used}}],
            ['Available {{disk_usage.available}} Gb', {{disk_usage.available}}]
            ]);

            // Set options for Disk Usage pie chart.
            var options = {title:'Disk Usage - Total Memory {{disk_usage.total}} Gb',
                        width:400,
                        height:300};

            // Instantiate and draw the chart for Disk Usage chart.
            var chart = new google.visualization.PieChart(document.getElementById('disk_usage_chart_div'));
            chart.draw(data, options);
        }

            //ajax
            google.charts.setOnLoadCallback(AjaxLineChart);
            var contador = 0;
            function fill(chart,options){
                    var json_prepared = new Array();        
                $.ajax({
                    url: "{% url 'get_cpu_usage' %}",
                    type: 'GET',
                    async: false,
                    dataType: 'json'
                })
                .done(function(res) {
                    for (var i = res.length - 1; i >= 0; i--) {
                        json_prepared.push(res[i]);
                    }
                })
                .fail(function() {
                })
                .always(function() {
                });
                var data = new google.visualization.DataTable();
                data.addColumn('number', 'Seconds');
                data.addColumn('number', 'Percentage');
                    data.addRows(json_prepared);
                    chart.draw(data, google.charts.Scatter.convertOptions(options));
            }
            function AjaxLineChart () {
                contador++;
                $.ajax({
                    url: "{% url 'get_cpu_usage' %}",
                    type: 'GET',
                    dataType: 'json',
                })
                .done(function(res) {
                    var json_prepared = new Array();        
                    for (var i = res.length - 1; i >= 0; i--) {
                        json_prepared.push(res[i]);
                    }
                var data = new google.visualization.DataTable();
                data.addColumn('number', 'Seconds');
                data.addColumn('number', 'Percentage');
                    data.addRows(json_prepared);
                var options = {
                    height: 650,
                    chart: {
                        title: 'Cpu Usage Monitor',
                        subtitle: 'Live and Real Time'
                    },    
                    hAxis: {
                            title: "Seconds",
                    },
                    vAxis: {
                        title: "Percentage"         
                    }
                };
                var chart = new google.visualization.LineChart(document.getElementById('cpu_usage_chart_div'));
                google.visualization.events.addListener(chart, 'error', function (googleError) {
            google.visualization.errors.removeError(googleError.id);
            document.getElementById("error_msg").innerHTML = "Message removed = '" + googleError.message + "'";}); chart.draw(data, google.charts.Scatter.convertOptions(options));setInterval(function(){
                    fill(chart,options);
                },1000); })
                .fail(function() {
                })
                .always(function() {
                });
            }
    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
      <!--Table and divs that hold the pie charts-->
      <table class="columns">
        <tr>
          <td><div id="memory_usage_chart_div" style="border: 1px solid #ccc"></div></td>
          <td><div id="disk_usage_chart_div" style="border: 1px solid #ccc"></div></td>
        </tr>
      </table>
      <p>Live Cpu Usage Chart </p>
      <div id="cpu_usage_chart_div" style="border: 1px solid #ccc"></div>
  </body>
</html>